*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 20cm;
    width: 85%;
    background-position: center;
    background-size: cover;  
    position: relative;
    margin-left: 3cm;
    justify-content: center;
}   
.jan{
    width: 100%;
    height: auto;
}
.nav1{
    flex: 1;
    text-align: left;
    background-color: black;
    height: 42px;
    position: relative;
}
.nav1 ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 2px;
    height: 2cm;
}

.li1{
   width: 25px;
   height: 25px;  
}
.lis{
    width: 35px;
    height: 35px;
    position: relative;
    left: 34cm;
}
.title1{
    text-align: center;
    width: 25;
    height: 4cm;
    margin-top: 2cm;
}
.big1{
    color: white;
    background-color: black;
    background-size: 5cm;
}
.jn{
    font-size: 1.3cm;
}
.jn1{
    color: white;
    width: 4cm;
    position: absolute;
    top: 10%;
    font-size: 0.7cm;
}
.jn2{
    color: white;
    position: absolute;
    top: 5cm;
    font-size: 1.1cm;
    margin-top: 10%;
}
.jn3{
    color: rgba(77, 68, 68, 0.322);
    width: auto;
    position: absolute;
    top: 6cm;
    font-size: 1cm;
    margin-top: 15%;


    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #505a5e;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
 
}
.jn3:hover {
    box-shadow: inset 230px 0 0 0 #54b3d6;
    color: white;
  }

.heading{
    background-color: rgb(201, 210, 218);
    position: relative;
    height: 20cm;
    width: 85%;
    text-align: center;
}
.text{
    text-align: start;
    margin-left: 2%;
}
.like{
        color: rgba(207, 38, 38, 0.322);
        width: 3cm;
        position: relative;
        padding-left: 0.2cm;
        
        
        
        
        font-size: 1cm;

        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #54b3d6;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      
     
}
 .like:hover {
        box-shadow: inset 120px 0 0 0 #54b3d6;
        color: white;
      }

.aside{
    background-color: rgb(201, 210, 218);
    position: relative;
    height: 10cm;
    width: 100%;
    text-align: center;
    margin-top: 0%;
    
}
.flex{
    display: flex;
    
}
.flex2{
     flex-direction: column-reverse;
}
.asid1{
    height: 63%;
    margin-top: 2%; 
}
.mn{
    text-align: left;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  
}
.text1{
    background-color: rgb(42, 195, 255);
    color: rgb(34, 0, 73);
    height: 2.5cm;
}
.aside2{
    background-color: rgb(201, 208, 218);
    position: relative;
    height: 10cm;
    width: 100%;
}
.post{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.avatar{
    height: 1.6cm;
    width: 1.5cm;
    margin: 0.3cm;

}
.den{
    display: flex;
    justify-content: end;
    margin-top: 0.4cm;
    position: relative;
    
}
.dan{
    display: flex;
    justify-content: start;


    
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #000000;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      
     
}
 .dan:hover {
        box-shadow: inset 80px 0 0 0 #54b3d6;
        color: white;
      }
.theading{
    background-color: rgb(201, 210, 218);
    position: relative;
    height: 20cm;
    width: 65%;
    text-align: center;
}