*{
    margin: 0;
    padding: 0;
    
}
.header{
    min-height: 20cm;
    width: 85%;
    background-position: center;
    background-size: cover;  
    position: relative;
    margin-left: 3cm;
    background-color: #505a5e;
}   
.jan{
    width: 100%;
    height: auto;
}


.nav1 {
    
    display: flex;
    justify-content: space-between;
    padding: 2px 2px;
    height: 0cm;
    margin: 0cm;
    background-color: #000000;
    width: 98%;
    height: 1cm;
    
       
  }
     
  .nav2 {
   
    height: 2cm;
    margin-right: 2cm;
    background-color: #000000;
    width: 40cm;
    height: 1.3cm;

 
       
  }


.li1{
   width: 25px;
   height: 25px;  
   margin: 0.2cm;

      color: rgba(156, 45, 45, 0.322);
   position: relative;
  float: left;


}


.hor{
    width: 32px;
    height: 32px;
    position: relative;
}


.imageBox {
    position: relative;
    float: left;
    display: flex;
    justify-content: space-between;
    
  }
  
  .imageBox .hoverImg {
    position: absolute;
    display: none;
    
  }
  
  .imageBox:hover .hoverImg {
    display: block;
  }


.li2{
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 32cm;

}
.title1{
    text-align: center;
    width: 25;
    height: 4cm;
    margin-top: 2cm;
}
.big1{
    color: white;
    background-color: black;
    background-size: 5cm;
}
.jn{
    font-size: 1.3cm;
}
.jn1{
    color: white;
    width: 4cm;
    position: absolute;
    top: 5%;
    font-size: 0.7cm;
}
.jn2{
    color: white;
    position: absolute;
    top: 5cm;
    font-size: 1.1cm;
    margin-top: 10%;
}
.jn3{
    color: rgba(77, 68, 68, 0.322);
    width: auto;
    position: absolute;
    top: 6cm;
    font-size: 1cm;
    margin-top: 15%;


    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #505a5e;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
 
}
.jn3:hover {
    box-shadow: inset 230px 0 0 0 #54b3d6;
    color: white;
  }

.heading{
    background-color: rgb(201, 210, 218);
    position: relative;
    height: 20cm;
    width: 85%;
    text-align: center;
}
.text{
    text-align: start;
    margin-left: 2%;
}
.like{
        color: rgba(156, 45, 45, 0.322);
        height: 1cm;
        width: 3cm;
        position: relative;
        margin-right: 3cm;

        
        
        font-size: 0.9cm;

        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #545dd6;
        margin-right: 18cm ;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      
     
}
 .like:hover {
        box-shadow: inset 120px 0 0 0 #54b3d6;
        color: white;
      }

.aside{
    background-color: rgb(201, 210, 218);
    position: relative;
    height: 10cm;
    width: 100%;
    text-align: center;
    margin-top: 0%;
    
}
.flex{
    display: flex;
    
}
.flex2{
     flex-direction: column-reverse;
}
.asid1{
    height: 63%;
    margin-top: 2%; 
}
.mn{
    text-align: left;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  
}
.text1{
    background-color: rgb(42, 195, 255);
    color: rgb(34, 0, 73);
    height: 2.5cm;
}
.aside2{
    background-color: rgb(201, 208, 218);
    position: relative;
    height: 10cm;
    width: 100%;
}
.post{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.avatar{
    height: 1.6cm;
    width: 1.5cm;
    margin: 0.3cm;

}
.den{
    display: flex;
    justify-content: end;
    margin-top: 0.4cm;
    position: relative;
    
}
.dan{
    display: flex;
    justify-content: start;


    
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #000000;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      
     
}
 .dan:hover {
        box-shadow: inset 80px 0 0 0 #54b3d6;
        color: white;
      }
.theading{
    background-color: rgb(201, 210, 218);
    position: relative;
    height: 20cm;
    width: 22cm;
    text-align: center;

}

.theading1{
    background-color: rgb(201, 210, 218);
    position: relative;
    height: 20cm;
    width: 21cm;
    text-align: center;

}


.inspi{
    width: 6cm;
    height: 4cm;
    margin: 0.1cm;
    position: relative;
    margin-left: 0.2cm;
    
}
.ad{
    margin: 4cm;
    position: relative;
}
.hat{
    height: 12cm;
    
}
.text3{
    text-align: start;
    width: 20cm;
}
.ls{
    background-color: #505a5e;
    height: 4cm;
}
#myBtn {
    position: fixed;
    bottom: 10px;
    float: left;
    right: 95.5%;
    
    max-width: 50px;
    width: 10%;
    font-size: 20px;
    border-color: rgba(157, 255, 0, 0.2);
    background-color: rgb(25, 0, 253);
    padding: .22px;
    border-radius: 4px;


       
       
        box-shadow: inset 0 0 0 0 #be0000;
        color: #545dd6;
       transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
    
}



/*On Hover Color Change*/
#myBtn:hover {
    box-shadow: inset 120px 0 0 0 #d65454;
    color: white;
}



